rce-label {
  font-weight: bold;
  text-align: center;
  padding-right: auto;
  letter-spacing: 2px;
}

.pool-label {
  font-size: 10px;
}

.active-prana-gen {
  color: green;
}

.prana-gen {
  color: rgba(128, 128, 128, 0.5);
}

input {
  text-align: center;
}

input.left {
  text-align: left;
}

textarea {
  resize: none;
}
